body {
    background-color: gray;
}
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    writing-mode: vertical-rl;
    margin-left: 95%;
}
a {
    display: flex;
    text-decoration: none;
    padding-top: 3%;
    /* padding-right: 5%; */
    color: #FF0200;
    font-size: 1em; 
    font-family: 'Impact';
    /* text-align: right; */
    /* padding-left: 100%; */
    /*margin-bottom: -5em;
    margin-top: 4em; */    
}
h1 {
    text-align: center;
}
.main_paragraph{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
    
}

img {
    width: 150px;
    height: 150px;
}

.team_container h2 {
    text-align: center;
    border-bottom-style: dotted;
    border-width: 3px;
    width: 30%;
    margin: auto;
}

.team_container {
    border-style: dotted;
    border-color: red;
    margin: 5%;
}
h3 {
    text-decoration: underline;
    
}
.team_container .team {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 0 auto; */
    flex-wrap: nowrap;
    text-align: center;
    /* width: 80%; */
    margin: 0% 12% 0% 12%;
}

.team_container .team .team_member {
    width: 45%;
    margin: auto;
    padding: 3%;
    
}

.team_member img:hover {
    width: 170px;
    height: 170px;
}